@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


body {
	min-width: 100%;
	min-height: 100%;
	background-color: var(--nav-bg-color);
	
}

:root {
	--nav-height: 4rem;
	--nav-padding: 1rem;
	--video-height: calc(100% - var(--nav-height));
	--nav-bg-color: #363636;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	/* background-color: ; */
	/* border-image: rgb(0,0,0); */
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
	background-color: var(--nav-bg-color);
	height: var(--nav-height);
	padding: var(--nav-padding);
	font-display: block;
	z-index: 10;
	position: relative;
	color: #BDBDBD;
}

nav > .site-title {
	color: #BDBDBD;
}
nav > * {
	flex-grow: 1;
	text-align: center;
}

.site-title {
	font-family: 'Sacramento', cursive;
	/* font-size: ; */
	/* font-style: normal; */
}

.video-container {
	filter: blur(0px);
	height: 30rem;
	
	/* min-width: 50%; */
	max-width: 100%;
	/* height: 10rem; */
	/* overflow: hidden; */
	z-index: -1;
}

.video-container > video {
	/* max-width: 100vw; */
	width: 100%;
	height: 100%;
	position: absolute;
	/* background-size: cover; */
	object-fit: cover;
	/* filter:brightness(10%); */
	/* background-color: rgba(0,0,0,1); */
	/* filter: brightness(1.5); */
	/* opacity: 0.5; */
	/* flex-grow: 1; */
}
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #ffffff80; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: rgba(0,0,0,0.5); */
	/* background-image: url(/shared-assets/images/examples/leopard.jpg); */
	user-select: none;
	/* background-clip: text; */
	/* --webkit-text-fill-color: transparent; */
	font-size: 4rem;
	font-weight: 600;
	font-style: italic;
	color: #FFFFFFBD;
	/* text-shadow: 1px solid white; */
	/* -webkit-text-stroke: 1px black; */
	/* mix-blend-mode: multiply; */
	background-color: rgba(0,0,0,0.6);
	/* font-family: 'Sacramento', cursive; */
	
}
h2 {
	/* background-image: linear-gradient(to right, #000000?, #FFFFFF); */
}
main {
	/* padding-left: 0.5rem;
	padding-right: 0.5rem; */
}

h1.site-title {
	font-size: 2rem;
}
